<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Apa itu Buta Warna Parsial?</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="materi.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    </head>
<body>
    <section class="header">
        <nav>
            <a href="PartialHelper.html"><img src="Logo.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="PartialHelper.html">HOME</a></li>
                    <li><a href="">KAMERA</a></li>
                    <li><a href="">CHATBOT</a></li>
                    <li><a href="">TES BUTA WARNA</a></li>
                </ul>
            </div>
            <div>
                <a href="" class="btn">DOWNLOAD APP</a>
            </div>
        </nav>
    </section>

    <!------ materi ------>

    <section class="materi">
        <h2>Jenis Buta Warna Parsial</h2>
            <div class="isi-materi">
                <p>
                    Buta warna parsial memiliki dua golongan, yaitu kesulitan membedakan 
                    warna pada gradasi merah-hijau, dan sulit membedakan warna biru-kuning.
                </p>
                <p>
                    <b>1. Buta Warna Merah-Hijau</b>
                    <br>Kondisi ini bisa terjadi jika fotopigmen di kerucut merah atau 
                    kerucut hijau mata tidak berfungsi sebagaimana mestinya. 
                    Buta warna ini terbagi menjadi beberapa macam, yaitu:
                    <br>~ <b>Deuteranopia</b>, yaitu ketika pengidap melihat warna merah menjadi kuning 
                    kecoklatan dan warna hijau menjadi krem.
                    <br>~ <b>Protanopia</b>, yaitu ketika pengidap melihat warna merah tampak hitam, 
                    warna jingga dan hijau akan terlihat kuning, dan sulit membedakan warna ungu dan biru.
                    <br>~ <b>Protanomali</b>, yaitu ketika pengidap melihat warna jingga, merah, dan 
                    kuning tampak lebih gelap menyerupai warna hijau. 
                    <br>~ <b>Deuteranomalia</b>, yaitu ketika pengidap melihat warna hijau 
                    dan kuning menjadi kemerahan, dan sulit membedakan warna ungu dan biru.
                </p>
                <p>
                    <b>2. Buta Warna Biru-Kuning</b>
                    <br>Kondisi buta warna parsial ini diakibatkan oleh sel kerucut biru 
                    yang tidak berfungsi dengan baik.   
                    Sementara itu, buta warna biru-kuning terbagi menjadi dua macam, yaitu:
                    <br>~ <b>Tritanomali</b>, yaitu ketika pengidap melihat warna biru tampak 
                    lebih hijau, serta sulit membedakan kuning dan merah.
                    <br>~ <b>Tritanopia</b>, yaitu ketika pengidap melihat warna biru lebih 
                    tampak hijau dan warna kuning tampak menjadi ungu atau abu-abu muda.                 
                </p>
                <p>
                    Sejak lahir, manusia sudah kenali dengan warna-warna di sekitarnya. 
                    Oleh karena itu, sebagian besar pengidap buta warna parsial tidak menyadari 
                    jika mereka mengalami gangguan tersebut. Untuk mengatasinya, pengidap dapat menggunakan 
                    lensa kontak yang dapat membantu membedakan warna. Sedangkan untuk mendiagnosis kondisi ini, 
                    dibutuhkan sebuah tes guna memastikan seseorang memang benar mengidap buta warna parsial.
                </p>
            </div>
    </section>

    <!------ footer ------>

    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href=""><i class="icon ion-social-instagram"></i></a>
                <a href=""><i class="icon ion-social-whatsapp"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="PartialHelper.html">HOME</a></li>
                <li class="list-inline-item"><a href="">KAMERA</a></li>
                <li class="list-inline-item"><a href="">CHATBOT</a></li>
                <li class="list-inline-item"><a href="">TES BUTA WARNA</a></li>
            </ul>
            <p class="copyright">PartialHelper © 2023</p>
        </footer>
    </div>
</body>
</html>