<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Apa itu Buta Warna Parsial?</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="materi.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    </head>
<body>
    <section class="header">
        <nav>
            <a href="PartialHelper.html"><img src="Logo.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="PartialHelper.html">HOME</a></li>
                    <li><a href="">KAMERA</a></li>
                    <li><a href="">CHATBOT</a></li>
                    <li><a href="">TES BUTA WARNA</a></li>
                </ul>
            </div>
            <div>
                <a href="" class="btn">DOWNLOAD APP</a>
            </div>
        </nav>
    </section>

    <!------ materi ------>

    <section class="materi">
        <h2>Penyebab Buta warna Parsial</h2>
            <div class="isi-materi">
                <p>
                    Mata normal bisa mendeteksi berbagai warna pada spektrum cahaya yang kompleks, 
                    namun tidak demikian dengan pengidap disabilitas buta warna parsial. 
                    Penderita disabilitas ini tidak mampu mendeteksi warna-warna tertentu karena 
                    kerusakan sel pendeteksi warna pada mata.
                </p>
                <p>
                    Berikut merupakan sejumlah penyebab dari buta warna parsial:
                </p>
                <p>
                    <b>~ Penyakit Kronis</b>
                    <br>Buta warna sebagian dapat diakibatkan oleh penyakit kronis yang membuat 
                    penderitanya tidak dapat membedakan warna-warna tertentu. Beberapa penyakit yang 
                    umumnya dapat menyebabkan kondisi ini adalah:
                    <br>* Diabetes
                    <br>* Penyakit Alzheimer
                    <br>* Glaukoma
                    <br>* Penyakit Parkinson
                </p>
                <p>
                    <b>~ Faktor Keturunan</b>
                    <br>Buta warna parsial lebih sering diturunkan secara genetik dari orang tua ke anak. 
                    Seperti yang telah disebutkan sebelumnya, penderita kondisi ini didominasi oleh pria. 
                    Adapun tingkatan keparahan dari kondisi ini bisa bervariasi, mulai dari ringan, sedang, 
                    hingga berat dan dapat memengaruhi kedua mata.
                    <br>Perlu diketahui bahwa kondisi ini bisa diturunkan dari orang tua yang tidak 
                    menderita buta warna, tetapi merupakan carrier atau pembawa kelainan gen. Umumnya, 
                    ibu yang tidak memiliki gejala buta parsial tetapi membawa kelainan gen akan menurunkan 
                    kondisi kebutaan warna parsial ini kepada anak laki-lakinya.             
                </p>
                <p>
                    <b>~ Efek Samping Obat</b>
                    <br>Buta warna sebagian juga bisa disebabkan oleh konsumsi obat-obatan tertentu 
                    yang digunakan untuk mengatasi beberapa gangguan kesehatan atau penyakit seperti:
                    <br>* Penyaki Jantung
                    <br>* Hipertensi
                    <br>* Infeksi
                    <br>* Penyakit Autoimun
                    <br>* Gangguan Saraf
                    <br>* Gangguan Psikologis
                </p>
                <p>
                    <b>~ Bertambahnya Usia</b>
                    <br>Kemampuan untuk melihat warna bisa menurun seiring dengan bertambahnya usia. 
                    Ini merupakan salah satu faktor alamiah yang perlu diantisipasi. Sekalipun sulit 
                    disembuhkan, penderitanya masih dapat beraktivitas seperti biasa dan beradaptasi 
                    dengan kondisi tersebut.   
                </p>
                <p>
                    <b>~ Terpapar Cairan Kimia</b>
                    <br>Berhati-hatilah ketika bekerja dengan cairan kimia berbahaya. Gunakan 
                    kacamata pengaman agar mata terhindar dari percikan atau tumpahan cairan berbahaya 
                    di tempat kerja seperti karbon disulfida atau pupuk yang dapat menyebabkan 
                    defisiensi penglihatan warna.   
                </p>
            </div>
    </section>

    <!------ footer ------>

    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href=""><i class="icon ion-social-instagram"></i></a>
                <a href=""><i class="icon ion-social-whatsapp"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="PartialHelper.html">HOME</a></li>
                <li class="list-inline-item"><a href="">KAMERA</a></li>
                <li class="list-inline-item"><a href="">CHATBOT</a></li>
                <li class="list-inline-item"><a href="">TES BUTA WARNA</a></li>
            </ul>
            <p class="copyright">PartialHelper © 2023</p>
        </footer>
    </div>
</body>
</html>