<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Apa itu Buta Warna Parsial?</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="materi.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    </head>
<body>
    <section class="header">
        <nav>
            <a href="PartialHelper.html"><img src="Logo.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="PartialHelper.html">HOME</a></li>
                    <li><a href="">KAMERA</a></li>
                    <li><a href="">CHATBOT</a></li>
                    <li><a href="">TES BUTA WARNA</a></li>
                </ul>
            </div>
            <div>
                <a href="" class="btn">DOWNLOAD APP</a>
            </div>
        </nav>
    </section>

    <!------ materi ------>

    <section class="materi">
        <h2>Apa itu Buta Warna Parsial?</h2>
            <div class="isi-materi">
                <p>
                    Buta warna parsial, juga dikenal sebagai dischromatopsia atau 
                    anomali warna parsial, adalah kondisi di mana seseorang mengalami 
                    kesulitan dalam membedakan beberapa warna tertentu. Ini berarti 
                    seseorang dengan buta warna parsial mungkin tidak dapat membedakan 
                    beberapa warna dengan benar, meskipun mereka mungkin bisa membedakan 
                    warna lain dengan normal.
                </p>
                <p>
                    Pada umumnya, buta warna parsial disebabkan oleh ketidaknormalan 
                    dalam sel-sel reseptor warna di mata, yang dikenal sebagai kerucut. 
                    Terdapat tiga jenis kerucut yang berbeda, masing-masing sensitif 
                    terhadap warna-warna tertentu (merah, hijau, dan biru). Buta warna 
                    parsial seringkali disebabkan oleh ketidaknormalan dalam salah satu 
                    atau lebih jenis kerucut ini. Contohnya, seseorang dengan buta warna 
                    parsial merah-hijau mungkin mengalami kesulitan dalam membedakan 
                    antara warna merah dan hijau.
                </p>
                <p>
                    Buta warna parsial umumnya merupakan kondisi bawaan yang diwariskan 
                    secara genetik, meskipun dalam beberapa kasus dapat disebabkan oleh 
                    cedera atau gangguan mata tertentu. Kondisi ini dapat bervariasi dalam 
                    tingkat keparahan, mulai dari kesulitan yang ringan hingga yang lebih 
                    signifikan dalam membedakan warna-warna tertentu.
                </p>
                <p>
                    Penting untuk dicatat bahwa buta warna parsial berbeda dengan buta 
                    warna total, di mana seseorang benar-benar tidak dapat melihat atau 
                    membedakan warna sama sekali. Orang dengan buta warna parsial masih dapat 
                    melihat warna, tetapi mereka mungkin mengalami kesulitan tertentu dalam 
                    membedakan warna-warna tertentu.                   
                </p>
            </div>
    </section>

    <!------ footer ------>

    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href=""><i class="icon ion-social-instagram"></i></a>
                <a href=""><i class="icon ion-social-whatsapp"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="PartialHelper.html">HOME</a></li>
                <li class="list-inline-item"><a href="">KAMERA</a></li>
                <li class="list-inline-item"><a href="">CHATBOT</a></li>
                <li class="list-inline-item"><a href="">TES BUTA WARNA</a></li>
            </ul>
            <p class="copyright">PartialHelper © 2023</p>
        </footer>
    </div>
</body>
</html>